/* font css only */
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  body{
    background-color: #F1F1F3;
  }
  
*{
    padding: 0;
    margin: 0;
}

/* Shared Style */
.container{
    width:1280px ;
    margin: 0 auto;
      
}
/* navigation style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100px ;
}
nav h3{
    font-weight: bold;
    font-size: 32px;
}
.nav-btn{
    padding: 15px 30px;
    color: #006A50;
    border: 1px solid #006A50;
    border-radius: 8px;
    font-weight:600px ;
    font-size: 18px;
}

.nav-btn:hover{
    background-color: #006A50;
    color: white;


}
/* Banner Section */
.banner{
    background-color: #C6E4D6;
    display: flex;
    justify-content: space-between;
    height:560px ;
    align-items: center;
    border-radius: 24px;
}
.banner-text{
    margin:117px 59.99px ;
}
.banner-text h4{
    color: rgb(14, 14, 14, 50%);
}
.banner-img{ 
    width: 474.03px;
    height: 400px;
}
.banner-btn{
    padding: 17px 34px;
    border: none;
    border-radius: 8px;
    background-color:#006A50 ;
    color: white;

}
.banner-btn:hover{
    background-color: white;
    color: #006A50;

}
.banner-subtitle{
    font-size: 56px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 24px;
}

/* Future title style  */


.future{
    height: 765px;
}

.future-title h1{
    font-size: 40px;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 24px;
}
.future-title p{
    font-size: 16px;
    color: rgb(14, 14, 14, 70%);
}
/* Future card style  */
.card{
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    margin-top: 32px;

}

.card-box{
    border-radius: 16px;
    padding: 32px;
    
    
}
.card-img{
    width: 62px;
    height: 62px;
    
}
.card-box h5{
    font-size: 20px;
    font-weight: bold;
    color: rgb(14, 14, 14, 70%);
    margin: 24px 0;

    
}
.card-box p{
    font-size: 16px;
    color: rgb(14, 14, 14, 70%);
    margin-bottom:24px ;
    

}

.blue{
    background-color: rgb(84, 144, 245, 20%);

}
.green{
    background-color: rgb(198, 228, 214, 100%);
}

.yellow{
    background-color: rgb(247, 235, 207, 100%);
}
.card-btn1{
    padding:11px 20px;
    background-color: #5490F5;
    color: white;
    border-radius: 8px;
    border: none;
    margin-top: 20px;

}
.card-btn1:hover{
    background-color: aqua;
    color: black;
}
.card-btn2{
    padding:11px 20px;
    background-color: #09A15C;
    color: white;
    border-radius: 8px;
    border: none;

}
.card-btn2:hover{
    background-color: #ffffff;
    color: black;
}
.card-btn3{
    padding:11px 20px;
    background-color: #FFC239;
    color: white;
    border-radius: 8px;
    border: none;

}
.card-btn3:hover{
    background-color: #5490F5;
    color: black;
}

.yunus{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-color: white;
    border-radius: 16px;
    border:none;
    margin-top: 32px; 
    padding: 48px 24px;

}
.yunus p{
    font-size: 16px;
    color: rgb(14, 14, 14, 80%)
}
.yunus h3{
    padding: 10px 0px;
}

/* News Style */
.news{
    margin-top:20px;
}
.news-title h2{
    font-weight: bold;
    font-size: 40px;
}
.news-title p{
    font-size: 16px;
    color: rgb(14, 14, 14, 70%);
    margin-top: 24px;
    margin-bottom: 32px;

}


.news-box{
    background-color: white;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding: 42px;
    margin: 12px 0px;
}
.news-box-img img{
    /* width: 408px;
    height: 306px; */
    border-radius: 24px;
}
.news-box-content img{
    margin-top: 12px;
    margin-bottom: 12px;

}
.news-box-content h3{
    font-size: 32px;
    font-weight: bold;
}
.news-box-content p{
    font-size: 18px;
    color: rgb(14, 14, 14, 70%);
    margin-top: 12px;
    margin-bottom: 20px;

}
.news-btn{
    color: white;
    background-color: #006A50;
    border: none;
    border-radius: 8px;
    padding: 13px 26px;

}
.news-btn:hover{
    background-color: red;
    color: black;
}

.news-box-reverse{
    flex-direction: row-reverse;
}

/* ---------donate css------ */
.donate h2{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 24px;
}
.donate p{
    color: rgb(14, 14, 14, 70%);
    margin: 0 150px;
    text-align: center;
}
.donate-card{
    display: flex;
    gap: 24px;
    margin: 32px;
    justify-content:center;
    
}
.donate-card-taka{
    border-radius: 16px;
    padding: 40px;
    background-color: white;
}
.donate-card-taka:hover{
    background-color: #C6E4D6;
}

input[type="text"]{
    width: 700px;
    
    text-align: center;
    padding:20px 40px;


}

.donate-box{
    text-align: center;
}
.donatebtn{
    padding: 17px 34px;
    background-color:#006A50 ;
    text-align: center;
    color: white;
    border-radius: 8px;
    
  
}
.donate-btn{
    text-align: center;
    margin-top: 32px;
}
.donatebtn:hover{
    background-color:black;
    color: white;
}

/* Subscribe style */

.subscribe h2{
    font-size: 40px;
    font-weight: bold;
}
.subscribe{
    text-align: center;
    background-color: #C6E4D6;
    margin: 80px 0;
    padding: 80px 265px;
    border-radius: 24px;
}
.subscribe p{
    font-size: 16px;
    color: rgb(14, 14, 14, 70%)
}
.subscribe-content{
    margin: 24px 0;
    display: flex;
    justify-content: center;
}

.sub-btn{
    padding: 17px 34px;
    background-color:#006A50 ;
    text-align: center;
    color: white;
    border-radius:0 8px 8px 0;

}
.sub-btn:hover{
    color: black;
    background-color: white;
}
.subscribe-content input{
    width: 600px;
    border-radius: 8px 0 0 8px;
    border: none;
    padding: 12px;
}


/* --------footer section----- */

footer{
    background-color:#ffffff ;
    padding: ;
    
}
footer h3{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding: 32px;

    
}
hr{
    width: 50%;
    margin: 0 auto;
    color: rgb(14, 14, 14, 10%)

}

.img-icon{
   
    display: flex;
    justify-content: center;
    gap: 23px
}
.img-icon img{
    padding: 30px 0 ;
}


